### Creating age bins as a new column for Citibike Data

In [30]:
# Import Dependencies
import pandas as pd
import numpy as np
import datetime as dt
from datetime import date

# File to Load
file = "year18.csv"
# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,819,2018-01-03 08:42:17.2230,2018-01-03 08:55:56.2310,150.0,E 2 St & Avenue C,40.720874,-73.980858,376.0,John St & William St,40.708621,-74.007222,17147,Subscriber,1978,1
1,976,2018-01-10 15:16:13.7150,2018-01-10 15:32:29.8380,359.0,E 47 St & Park Ave,40.755103,-73.974987,461.0,E 20 St & 2 Ave,40.735877,-73.982050,20128,Subscriber,1971,2
2,1498,2018-01-29 17:29:56.2440,2018-01-29 17:54:54.9590,455.0,1 Ave & E 44 St,40.750020,-73.969053,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,16774,Subscriber,1982,2
3,496,2018-01-22 17:23:00.7710,2018-01-22 17:31:16.8790,355.0,Bayard St & Baxter St,40.716021,-73.999744,319.0,Fulton St & Broadway,40.711066,-74.009447,17697,Subscriber,1991,2
4,315,2018-01-22 08:36:11.2120,2018-01-22 08:41:26.6020,3335.0,Union St & 4 Ave,40.677274,-73.982820,3403.0,4 Ave & 9 St,40.670513,-73.988766,32046,Subscriber,1985,1

In [31]:
df['age'] = 2019 - df['birth year']

In [32]:
# Create bins in which to place values based upon Age Demographics
bins = [0, 9.99, 19.99, 29.99, 39.99, 49.99, 59.99, 69.99, 79.99, 200]

# Create labels for these bins
group = ["<10", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"]

In [33]:
# Slice the data and place it into bins
# Place the data series into a new column inside of the DataFrame
df["ageGroup"] = pd.cut(df["age"], bins, labels = group)

df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,ageGroup
0,819,2018-01-03 08:42:17.2230,2018-01-03 08:55:56.2310,150.0,E 2 St & Avenue C,40.720874,-73.980858,376.0,John St & William St,40.708621,-74.007222,17147,Subscriber,1978,1,41,40-49
1,976,2018-01-10 15:16:13.7150,2018-01-10 15:32:29.8380,359.0,E 47 St & Park Ave,40.755103,-73.974987,461.0,E 20 St & 2 Ave,40.735877,-73.982050,20128,Subscriber,1971,2,48,40-49
2,1498,2018-01-29 17:29:56.2440,2018-01-29 17:54:54.9590,455.0,1 Ave & E 44 St,40.750020,-73.969053,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,16774,Subscriber,1982,2,37,30-39
3,496,2018-01-22 17:23:00.7710,2018-01-22 17:31:16.8790,355.0,Bayard St & Baxter St,40.716021,-73.999744,319.0,Fulton St & Broadway,40.711066,-74.009447,17697,Subscriber,1991,2,28,20-29
4,315,2018-01-22 08:36:11.2120,2018-01-22 08:41:26.6020,3335.0,Union St & 4 Ave,40.677274,-73.982820,3403.0,4 Ave & 9 St,40.670513,-73.988766,32046,Subscriber,1985,1,34,30-39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17545,190,2018-12-07 15:02:33.3860,2018-12-07 15:05:43.9990,515.0,W 43 St & 10 Ave,40.760094,-73.994618,508.0,W 46 St & 11 Ave,40.763414,-73.996674,35262,Subscriber,1990,1,29,20-29
17546,913,2018-12-03 06:30:05.3030,2018-12-03 06:45:18.9870,3376.0,E 65 St & 2 Ave,40.764719,-73.962221,492.0,W 33 St & 7 Ave,40.750200,-73.990931,31491,Subscriber,1995,1,24,20-29
17547,898,2018-12-10 07:26:03.0620,2018-12-10 07:41:01.9580,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,19508,Subscriber,1970,1,49,40-49
17548,524,2018-12-18 20:02:50.3540,2018-12-18 20:11:34.8960,2010.0,Grand St & Greene St,40.721655,-74.002347,350.0,Clinton St & Grand St,40.715595,-73.987030,35805,Subscriber,1991,1,28,20-29
17549,3264,2018-12-02 13:54:04.5330,2018-12-02 14:48:28.9750,3536.0,W 116 St & Broadway,40.808200,-73.964100,237.0,E 11 St & 2 Ave,40.730473,-73.986724,33937,Subscriber,1992,1,27,20-29

In [36]:
# Save dataframe to csv file
# https://stackoverflow.com/questions/26786960/remove-index-column-while-saving-csv-in-pandas
df.to_csv('year18.csv',mode = 'w', index=False)