## Creating a sample dataset for Citibike Analysis in Tableau

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Files to Load
file01 = "201801-citibike-tripdata.csv"
file02 = "201802-citibike-tripdata.csv"
file03 = "201803-citibike-tripdata.csv"
file04 = "201804-citibike-tripdata.csv"
file05 = "201805-citibike-tripdata.csv" 
file06 = "201806-citibike-tripdata.csv"
file07 = "201807-citibike-tripdata.csv"
file08 = "201808-citibike-tripdata.csv"
file09 = "201809-citibike-tripdata.csv"
file10 = "201810-citibike-tripdata.csv"
file11 = "201811-citibike-tripdata.csv"
file12 = "201812-citibike-tripdata.csv"

# Read files and store them into Pandas data frame
jan = pd.read_csv(file01)
feb = pd.read_csv(file02)
mar = pd.read_csv(file03)
apr = pd.read_csv(file04)
may = pd.read_csv(file05)
jun = pd.read_csv(file06)
jul = pd.read_csv(file07)
aug = pd.read_csv(file08)
sep = pd.read_csv(file09)
octo = pd.read_csv(file10)
nov = pd.read_csv(file11)
dec = pd.read_csv(file12)

In [3]:
# Get fraction of rows and store them
# https://www.geeksforgeeks.org/how-to-randomly-select-rows-from-pandas-dataframe/

jan18 = jan.sample(frac = 0.001)
feb18 = feb.sample(frac = 0.001)
mar18 = mar.sample(frac = 0.001)
apr18 = apr.sample(frac = 0.001)
may18 = may.sample(frac = 0.001)
jun18 = jun.sample(frac = 0.001)
jul18 = jul.sample(frac = 0.001)
aug18 = aug.sample(frac = 0.001)
sep18 = sep.sample(frac = 0.001)
octo18 = octo.sample(frac = 0.001)
nov18 = nov.sample(frac = 0.001)
dec18 = dec.sample(frac = 0.001)

In [4]:
# Concatenate dataframes
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

year18 = jan18.append(feb18).append(mar18).append(apr18).append(may18).append(jun18).append(jul18)\
         .append(aug18).append(sep18).append(octo18).append(nov18).append(dec18)

In [5]:
df_year18 = year18.reset_index(drop=True)
df_year18

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,819,2018-01-03 08:42:17.2230,2018-01-03 08:55:56.2310,150.0,E 2 St & Avenue C,40.720874,-73.980858,376.0,John St & William St,40.708621,-74.007222,17147,Subscriber,1978,1
1,976,2018-01-10 15:16:13.7150,2018-01-10 15:32:29.8380,359.0,E 47 St & Park Ave,40.755103,-73.974987,461.0,E 20 St & 2 Ave,40.735877,-73.982050,20128,Subscriber,1971,2
2,1498,2018-01-29 17:29:56.2440,2018-01-29 17:54:54.9590,455.0,1 Ave & E 44 St,40.750020,-73.969053,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,16774,Subscriber,1982,2
3,496,2018-01-22 17:23:00.7710,2018-01-22 17:31:16.8790,355.0,Bayard St & Baxter St,40.716021,-73.999744,319.0,Fulton St & Broadway,40.711066,-74.009447,17697,Subscriber,1991,2
4,315,2018-01-22 08:36:11.2120,2018-01-22 08:41:26.6020,3335.0,Union St & 4 Ave,40.677274,-73.982820,3403.0,4 Ave & 9 St,40.670513,-73.988766,32046,Subscriber,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17545,190,2018-12-07 15:02:33.3860,2018-12-07 15:05:43.9990,515.0,W 43 St & 10 Ave,40.760094,-73.994618,508.0,W 46 St & 11 Ave,40.763414,-73.996674,35262,Subscriber,1990,1
17546,913,2018-12-03 06:30:05.3030,2018-12-03 06:45:18.9870,3376.0,E 65 St & 2 Ave,40.764719,-73.962221,492.0,W 33 St & 7 Ave,40.750200,-73.990931,31491,Subscriber,1995,1
17547,898,2018-12-10 07:26:03.0620,2018-12-10 07:41:01.9580,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,19508,Subscriber,1970,1
17548,524,2018-12-18 20:02:50.3540,2018-12-18 20:11:34.8960,2010.0,Grand St & Greene St,40.721655,-74.002347,350.0,Clinton St & Grand St,40.715595,-73.987030,35805,Subscriber,1991,1
17549,3264,2018-12-02 13:54:04.5330,2018-12-02 14:48:28.9750,3536.0,W 116 St & Broadway,40.808200,-73.964100,237.0,E 11 St & 2 Ave,40.730473,-73.986724,33937,Subscriber,1992,1

In [6]:
# Save dataframe to csv file
# https://stackoverflow.com/questions/26786960/remove-index-column-while-saving-csv-in-pandas
df_year18.to_csv('year18.csv',mode = 'w', index=False)

In [14]:
print(f' Total data consists of {len(jan) + len(feb) + len(mar) + len(apr) + len(may) + len(jun) + len(jul) + len(aug) + len(sep) + len(octo) + len(nov) + len(dec)} rows')

 Total data consists of 17548339 rows

In [15]:
print(f' Sample data consists of {len(df_year18)} rows')

 Sample data consists of 17550 rows